<!--begin:: Widgets/Stats2-1 -->
<div class="m-widget1">
	<div class="m-widget1__item">
		<div class="row m-row--no-padding align-items-center">
			<div class="col">
				<h3 class="m-widget1__title">سود اعضا</h3>
				<span class="m-widget1__desc">میانگین سود هفتگی</span>
			</div>
			<div class="col m--align-right">
				<span class="m-widget1__number m--font-brand">65.235 تومان</span>
			</div>
		</div>
	</div>
	<div class="m-widget1__item">
		<div class="row m-row--no-padding align-items-center">
			<div class="col">
				<h3 class="m-widget1__title">سفارشات</h3>
				<span class="m-widget1__desc">میانگین سود ماهیانه</span>
			</div>
			<div class="col m--align-right">
				<span class="m-widget1__number m--font-danger">180.120 تومان</span>
			</div>
		</div>
	</div>
	<div class="m-widget1__item">
		<div class="row m-row--no-padding align-items-center">
			<div class="col">
				<h3 class="m-widget1__title">گزارشات موضوعی</h3>
				<span class="m-widget1__desc">باگ ها و موارد جدید</span>
			</div>
			<div class="col m--align-right">
				<span class="m-widget1__number m--font-success">-27,49%</span>
			</div>
		</div>
	</div>
	<div class="m-widget1__item">
		<div class="row m-row--no-padding align-items-center">
			<div class="col">
				<h3 class="m-widget1__title">فروش</h3>
				<span class="m-widget1__desc">میانگین فروش هفتگی</span>
			</div>
			<div class="col m--align-right">
				<span class="m-widget1__number m--font-brand">754.210 تومان</span>
			</div>
		</div>
	</div>
</div>
<!--end:: Widgets/Stats2-1 -->
